<div class="container">
   <div class="row">
    <h5>全<span class="font-weit-nomal small"><%= @search_recipes.count %></span>件</h5>
   </div>
    <div class="row mt-5">
     <div class="d-flex flex-wrap">
       <% @search_recipes.each do |recipe| %>
      <div class="row mx-4">
       <%= link_to public_recipe_path(recipe.id)do %>
       <%= attachment_image_tag recipe.recipe_images[0], :image,:fill,230,230 %>
        <h4 class="text-success"><%= recipe.name %></h4>
       <div class="mt-5 mx-3">
       </div>
        <% end %>
      </div>
       <% end %>
      </div>
   </div>
</div>