<div class="container top">
  <div class="sign_modal_wrapper"></div>
  <h1 class="offset-1 mt-5">Welcome To MeshiPro！</h1><br/>
  <div class="row offset-6">
    <h2>プロの技を必要としていませんか？</h2>
  </div>
    <div class="row mt-5 pb-10 justify-content-center">
      <div class="pb-5 mr-5 sign-btn-user sign_up_button">
        ユーザー登録
      </div>
      <div class="pb-5 ml-5 login-btn-user sign_in_button">
       ユーザーログイン
      </div>
    </div>
    <div class="sign_modal">
      <span class="fa_wrapper"><i class="far fa-window-close"></i></span>
      <%= render 'public/homes/registration' %>
      <%= render 'public/homes/session' %>
    </div>
 </div>

