<div class="container top">
     <h1 class="offset-1">Welcome To MeshiPro！</h1><br/>
  <div class="row offset-5">
    <h2>プロの技を必要としていませんか？</h2>
  </div>
    <div class="row mt-5 pb-10">
      <div class="offset-3 col-3 pb-5">
       <%= link_to "ユーザー登録",new_user_registration_path,class: 'btn sign-btn' %>
      </div>
      <div class="col-3 offset-1 pb-5">
       <%= link_to "ユーザーログイン",new_user_session_path,class: 'btn login-btn' %>
      </div>
   </div>
 </div>
