<div class="container top">
  <div class="sign_modal_wrapper"></div>
    <div class="welcome-text row">
      <h1 class="offset-md-1 mt-5">Welcome to MeshiPro!</h1><br/>
    </div>
  <div class="welcome-text row offset-md-5">
    <h2>あなたの技を必要としている人がいます!</h2>
  </div>
  <div class="cock-btn row mt-5 pb-10 justify-content-md-center">
    <div class="pb-5 mr-5 sign-btn-user sign_up_button">
      <p>コック専用登録</p>
    </div>
    <div class="ml-5 pb-5 login-btn-user sign_in_button">
      <p>コック専用ログイン</p>
    </div>
  </div>
  <div class="sign_modal">
      <span class="fa_wrapper"><i class="far fa-window-close"></i></span>
      <%= render 'cock/homes/registration' %>
      <%= render 'cock/homes/session' %>
    </div>
</div>