/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';


.searchbox{
  width: 350px;
  position:relative;
  background-color:#fff;
  border:1px solid #aaa;
  border-radius:6px;
}

.search-btn{
  display:block;
  background:#5fad35;
  width:90px;
  height:36px;
  line-height:36px;
  border:none;
  border-radius: 0 6px 6px 0;
  color:#FFF;
  margin-top:5px;
}

header{
  width: 100%;
  background-color:gold;
  height: 100px;
}

body{
  position: relative;
}

main{
  min-height: calc(100vh-100px);
  padding-bottom: 100px;
}

footer{
  width: 100%;
  background-color:gold;
  text-align: center;
  position: absolute;
  bottom: 0;
  height:50px;
}


.dropdown:hover .dropdown-menu {
    display: block;
}