<div class="container">
  <h3>お気に入り店舗</h3>
  <% if @my_restaurant_lists.present? %>
    <%= render 'public/restaurants/restaurant_index', restaurants: @my_restaurant_lists %>
  <% else %>
    <h2>まだお気に入り登録されていません</h2>
  <% end %>
</div>