<div class="container">
  <h3>お気に入りレシピ</h3>
  <% if @my_recipe_lists.present? %>
    <%= render 'public/recipes/recipe_index', recipes: @my_recipe_lists %>
  <% else %>
    <h2>まだお気に入り登録されていません</h2>
  <% end %>
</div>